<div class="loading">
    <div class="loadbg">
        <?xml version="1.0" standalone="no"?><!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd"><svg t="1644727031733" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="2939" xmlns:xlink="http://www.w3.org/1999/xlink" width="50" height="50"><defs><style type="text/css"></style></defs><path d="M512.930909 92.858182a420.072727 420.072727 0 1 0 0 840.145454 420.072727 420.072727 0 0 0 0-840.145454z m0 114.036363a306.036364 306.036364 0 1 1 0 612.072728 306.036364 306.036364 0 0 1 0-612.072728z" fill="#66ccff" fill-opacity=".25" p-id="2940" data-spm-anchor-id="a313x.7781069.0.i2" class="selected"></path><path d="M512.930909 92.858182v114.036363a306.036364 306.036364 0 1 0 234.449455 502.737455l7.726545-9.541818 90.158546 69.818182a420.072727 420.072727 0 1 1-344.715637-676.864l12.381091-0.186182z" fill="#66ccff" fill-opacity=".85" p-id="2941" data-spm-anchor-id="a313x.7781069.0.i1" class="selected"></path></svg>
    </div>
    <script>
        var loadimg = document.querySelector('.loadbg');
        window.onload = function () {
            loadimg.style.display = "none";
        }
    </script>
    <style>
        .loading {
            width: 100vw;
            height: 100vh;
            margin: 0;
            padding: 0;
            background-color: white;
        }
        .loadbg {
            width: 50px;
            height: 50px;
            top: 50vh;
            position: absolute;
            margin: 0 auto;
            -webkit-transform-origin: center center;
            -ms-transform-origin: center center;
            transform-origin: center center;
            animation: loadrotate 1s linear infinite;
		}
		@keyframes loadrotate {
			0%{
                transform: rotate(0deg);
                -ms-transform: rotate(0deg);
                -webkit-transform: rotate(0deg);
            }
            100%{
                transform: rotate(-360deg);
                -ms-transform: rotate(-360deg);
                -webkit-transform: rotate(-360deg);
            }
		}
    </style>
</div>
