.pb-license {
    color: rgb(51, 51, 51);
    background-color: rgb(231, 231, 231);
    padding: 10px 20px;
    border-radius: 5px;
}
.pb-license a {
    color: rgb(25, 178, 255);
}
.pb-license .url {
    color: rgb(121, 121, 121);
}
.pb-license .copyUrl {
    color: white;
    background-color: rgb(0, 153, 255);
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    float: right;
}

#post-header-background {
    filter: brightness(60%);
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    height: 400px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
.article {
    transform: translate(0, -20px);
}
.article .infblock {
    margin: 30px auto;
    background-color: rgba(255, 255, 255, 0.514);
    padding: 10px;
    border-radius: 10px;
    height: 150px;
}
.article .content {
    margin-top: 130px;
    
}
@media (max-width: 900px) {
    .article .infblock h1 {
        font-size: large;
    }
}