.friends {
    margin-top: 20px;
    padding: 10px;
    border: 15px;
    background-color: rgb(216, 243, 255);
    border-radius: 5px;
    height: 95px;
}

.friends h4 {
    transform: translate(0, -15px);
}

.friends p {
    transform: translate(0, -20px);
    color: #000;
}

.friends img {
    margin: 15px;
    height: 50px;
    float: left;
}