.footer
  .by_farbox
    a(href="https://hexo.io/zh-cn/", target="_blank") Powered by Hexo
    a(href="https://creativecommons.org/licenses/by-sa/4.0/", target="_blank")
      br
      span CC-BY-SA-4.0
        img(src=url_for("/images/cc_icon_white_x2.png"), class="cc-by-sa")
        img(src=url_for("/images/sa_white_x2.png"), class="cc-by-sa")
        img(src=url_for("/images/attribution_icon_white_x2.png"), class="cc-by-sa")
center
  a(href="https://icp.gov.moe/" target="_blank")
      img(src="https://icp.gov.moe/images/ico64.png" style="height:12px")
  a(href="https://icp.gov.moe/?keyword=20220860" target="_blank") 萌ICP备20220860号
