.sidebar.animated.fadeInDown
  .logo-title
    .title
      img(src= url_for(theme.logo.url),style="width:127px;border-radius: 50%;")
      h3(title=theme.logo.title)
        a(href="/")= theme.sidebar_title
      if theme.description
        .description
          p= theme.description

  ul.social-links
    if theme.twitter
      li
        a(href="https://twitter.com/" + theme.twitter)
          i.fa.fa-twitter
    if theme.weibo
      li
        a(href="http://weibo.com/" + theme.weibo)
          i.fa.fa-weibo
    if theme.facebook
      li
        a(href="http://facebook.com/" + theme.facebook)
          i.fa.fa-facebook
    if theme.github
      li
        a(href="http://github.com/" + theme.github)
          i.fa.fa-github
  include footer
